@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Hurricane&family=Quintessential&display=swap');

.Collapsible {
  text-align: center;
}

.modal-content {
  font-family: 'Quintessential', cursive;

}

html body #root {
  height: 100vh;
  background-color: #BB7A3A;
  font-family: 'Quintessential', cursive;
  color: #140600
  background-image: url(./assets/oldpaper.jpg);
  background-repeat: no-repeat;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */